.top-div{
    background-color: gray;
    text-align: center;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* align-content:  stretch; */
    
    
}
#label-TotalMonthly{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
#table-row-header{
    background-color: gray;
}
#addEmployee{
    font-size:x-large;
    /* padding: 0px 10px 10px 10px; */
    margin:  0px 10px 10px 10px;

    
}
h1{
    color: white;
}
body{
    margin: 0;

}